<h2 class="title">{{news}}</h2>

    {{#notes}}

        <form class="articles-news" name="news" method="post">
            <div class="notes">
                <p>
                    <a href="">{{tagsText}}</a>
                    <button type="submit" class="close" data-dismiss="alert" aria-label="Close" name="delete" id="{{id}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                </p>

            </div>
            <div class="notes" style="margin-bottom: 15px">
                {{notesText}}
                <button type="submit" class="close" data-dismiss="alert" aria-label="Close" name="like">
                    <span style="color: red">&heartsuit; {{id}}</span>
                </button>
            </div>




        <div class="collapse" id="collapseExample{{id}}">
            {{#comments}}
            <div class="articles-news comments">
               {{comment}}<br>
                <span aria-hidden="true" style="float: right">{{author}}</span>
            </div>

            {{/comments}}

            <div class="input-group add-notes">
                <div class="input-group-prepend">
                    <button class="input-group-text" type="submit">Добавить</button>
                </div>
                <input type="tags" class="form-control" id="inputComment1" placeholder="напиши комментарий" name="{{id}}">
            </div>
        </div>
            <a data-toggle="collapse" href="#collapseExample{{id}}" role="button" aria-expanded="false"
               aria-controls="collapseExample{{id}}" style="font-size: 14px; float: right; padding-top: 10px; margin-right: 15px">
                комментарии
            </a>
        </form>
    {{/notes}}

